<div style="text-align:center; margin-bottom:30px;">
    <div style="display:inline-block; background-color:#FBEDDC; border:2px solid #E2A56E; border-radius:50%; width:60px; height:60px; line-height:60px; font-size:32px;">
        &#10003;
    </div>
</div>

<p style="margin:0 0 25px 0; text-align:center; font-size:17px;">{{OrderMessage}}</p>

<div style="margin:25px 0;">
    <table width="100%" cellpadding="10" cellspacing="0" style="border-collapse:collapse;">
        <tr>
            <td style="color:#2B1B13; font-weight:bold; border-bottom:1px solid #FBEDDC;">Order ID:</td>
            <td style="color:#2B1B13; text-align:right; border-bottom:1px solid #FBEDDC;">{{OrderId}}</td>
        </tr>
        <tr>
            <td style="color:#2B1B13; font-weight:bold; border-bottom:1px solid #FBEDDC;">Total Amount:</td>
            <td style="color:#CC3323; text-align:right; font-weight:bold; font-size:18px; border-bottom:1px solid #FBEDDC;">{{Amount}}</td>
        </tr>
    </table>
</div>

{{TrackButton}}
